{% extends 'base.html.twig' %}

{% block title %}Hello CategoriesController!{% endblock %}

{% block body %}
    <div class='container'>
        <div>
            <h2>Section Séries</h2>
        </div>

        <div>
            <h2>Section Categories</h2>
            <ul class="list-group">
                {% for categorie in categories %}
                <li class="list-group-item disabled">{{categorie.name}}</li>
                {% endfor %}
        </div>
    </div>
{% endblock %}
